body,html{background-color:;color: rgba(46, 46, 46, 0.9);margin: 0;padding: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.header{
   position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url("../images/computer.jpeg");
    background-attachment: fixed;
    color: rgb(236, 236, 236);
}

p{
    font-weight: lighter;
    font-size: 1.5rem;
}

.logo h1{
    width: 100%;
    overflow-wrap: break-word;
    color: rgba(46, 46, 46, 0.9);
    font-weight: 600;
    margin: 0;
    font-size: 12rem;
}
.inline{
    display: inline;
}
.logo {
   
    position: absolute;
    width: 70%;
    top: 50%;
    left: 37%;
    transform: translate(-50%,-50%);
}
.wht.rd-btm{
    border-bottom: 2px solid rgb(255, 44, 44);
}
.logo p{
    font-size: 3rem;
   color: rgba(46, 46, 46, 0.9);
}

.nav{
   
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    font-size:1.5rem;
 
}


.nav .nav-list .nav-item{
    display: inline;
    margin:  12px;
}
.nav a{
    text-decoration:none;
     color: rgba(46, 46, 46, 0.9);
    
}
.padding-15{
    padding: 15px;
}
.wht{
    font-weight: lighter;
    color: rgb(240, 240, 240);

}

section, footer{
   height: auto;

    padding: 10%;
}
section h2{
    font-size: 5.5rem;
    text-align: center;
}
section p{
    text-align: center;
}

.project{
    background-color: whitesmoke;
    position: relative;
    z-index: 10;
}

.tech-item{
    
    margin: 20px 0;
    list-style-type: none;
    font-size: 1.5rem;

}
.tech-list{
   
    margin: 0 auto;
}

.footer{
   
    background-color: rgb(236, 236, 236);
}
.footer p{
    font-size: 1.2rem
}
.footer ul li{
list-style-type: none;
font-size:1.2rem;
margin: 4px;

}
.footer ul li a{
    color: rgba(46, 46, 46, 0.9);
}

.img{
    width: 100%;
   
    
    
}
.row-edit .col-lg-4.col-md-12{
    height: 100%;
    overflow: hidden;
    transition: overflow 1s;
}
.row-edit  .col-lg-4:hover{
   
    overflow-y: scroll;
}
.row-edit{
   
    height: 500px;
    
}
.page{
    color: antiquewhite;
}
.tech{
    
    position: relative;
    background-color:rgb(235, 235, 235);
}
.about{
  
   width: 80%;
    margin: 0 auto;
   text-align: justify;
   line-height: 1.5cm;

}
.about p{
    padding: 15px;
}

.about-img{
    /* clip-path: ellipse( 100% 100% at 10% 10%); */
    /* border-radius: 8px; */
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 100%;
    height: auto;
}

.puzzel{
   
    width: 200px;
    height: 200px;
position: absolute;

transform: rotate(270deg);
-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);}
.project .puzzel{
    bottom:-8%;
    left: 45%;
    background-color: whitesmoke;
}
.tech .puzzel{
    bottom:-10%;
    left: 45%;
    background-color:rgb(235, 235, 235);
}
svg{
    fill: black;
    width: 50px;
    height: 50px;
    margin: 0 8px;
}
ol li{
    display: inline;
    list-style-type: none;
}

@media (max-width: 1200px){
    .logo h1{
        font-size: 8rem;
    }
}

@media (max-width: 900px){
    .about{
        width: 90%;
        padding: 20px;
    }
    .logo h1{
        font-size: 3.8rem;
    }
    .logo{
        position: absolute;
        left: 50%;
    }
    .img{
        height: auto;
    }
    .project{
        overflow: scroll;
    }
}